<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button
        class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</header>

<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <h1 class="mb-3"><%= t('messages.listing', model: @citizens.model_name.human(count: 2)) %></h1>
  <%= search_form_for @q do |f| %>
    <div class="row">
      <div class="col-sm-4">
        <%= f.label translate_attribute(@citizens, :name) %>
        <%= f.search_field :name_cont %>
      </div>
      <div class="col-sm-4">
        <%= f.label :status_eq, 'Ativo' %>
        <%= f.select :status_eq, [['Sim', true], ['Não', false]], include_blank: 'Todos' %>
      </div>
      <div class="col-sm-4">
        <%= link_to "Limpar", request.path, class: 'btn btn-light' %>
        <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
</div>

<div class="table-responsive ">
  <table class="table table-striped center">
    <thead>
    <tr>
      <th><%= translate_attribute(@citizens, :photo) %></th>
      <th><%= sort_link(@q, :name, translate_attribute(@citizens, :name))%></th>
      <th><%= sort_link(@q, :cpf, translate_attribute(@citizens, :cpf))%></th>
      <th><%= sort_link(@q, :cns, translate_attribute(@citizens, :cns))%></th>
      <th><%= sort_link(@q, :email, translate_attribute(@citizens, :email))%></th>
      <th><%= sort_link(@q, :birth_date, translate_attribute(@citizens, :birth_date))%></th>
      <th><%= sort_link(@q, :telephone, translate_attribute(@citizens, :telephone))%></th>
      <th><%= sort_link(@q, :status, translate_attribute(@citizens, :status))%></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @citizens.each do |citizen| %>
      <tr class="table-info">
        <td><%= image_tag citizen.photo, size:'50x50' if citizen.photo.attached? %></td>
        <td><%= citizen.name %></td>
        <td><%= citizen.cpf %></td>
        <td><%= citizen.cns %></td>
        <td><%= citizen.email %></td>
        <td><%= citizen.birth_date %></td>
        <td><%= citizen.telephone %></td>
        <td><%= citizen.status ? "Ativo" : "Inativo" %></td>
        <td><%= link_to t('links.edit'), edit_citizen_path(citizen), class: "btn btn-warning" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to t('links.new'), new_citizen_path, class: "btn btn-success" %>
</div>