<div class="container">
  <div class="col-sm-9">
    <p id="notice"><%= notice %></p>
    <h2 class="mb-3">Munícipe</h2>

    <% if @citizen.photo.attached? %>
      <%= image_tag @citizen.photo, width: '25%' %>
    <% end %>
    <div class="row">
      <div class="col"><h5><strong>Nome Completo</strong></h5>
        <p><%= @citizen.name %></p></div>
      <div class="col"><h5><strong>CPF</strong></h5>
        <p><%= @citizen.cpf %></p></div>
      <div class="col"><h5><strong>CNS</strong></h5>
        <p><%= @citizen.cns %></p></div>
    </div>

    <div class="row">
      <div class="col"><h5><strong>Email</strong></h5>
        <p><%= @citizen.email %></p></div>
      <div class="col"><h5><strong>Data de Nascimento</strong></h5>
        <p><%= @citizen.birth_date %></p></div>
      <div class="col"><h5><strong>Telefone</strong></h5>
        <p><%= @citizen.telephone %></p></div>
    </div>

    <div class="row">
      <div class="col"><h5><strong>Status</strong></h5>
        <p><%= @citizen.status ? "Ativo" : "Inativo" %></p></div>
    </div>

    <h3 class="mb-3">Endereço</h3>

    <div class="row">
      <div class="col"><h5><strong>CEP</strong></h5>
        <p><%= @citizen.address.CEP %></p></div>
      <div class="col"><h5><strong>Rua</strong></h5>
        <p><%= @citizen.address.public_place %></p></div>
      <div class="col"><h5><strong>Complemento</strong></h5>
        <p><%= @citizen.address.complement %></p></div>
    </div>

    <div class="row">
      <div class="col"><h5><strong>Bairro</strong></h5>
        <p><%= @citizen.address.district %></p></div>
      <div class="col"><h5><strong>Cidade</strong></h5>
        <p><%= @citizen.address.city %></p></div>
      <div class="col"><h5><strong>Estado</strong></h5>
        <p><%= @citizen.address.UF %></p></div>
    </div>

    <div class="row">
      <div class="col"><h5><strong>Código IBGE</strong></h5>
        <p><%= @citizen.address.IBGE_code %></p></div>
    </div>

    <div class="col">
      <%= link_to 'Editar', edit_citizen_path(@citizen), class: 'btn btn-warning' %>
      <%= link_to 'Voltar', citizens_path, class: 'btn btn-danger' %>
    </div>
  </div>
</div>



