<h2><%= t('links.new_address') %></h2>
<div class="row">
  <div class="col-sm-6">
    <%= form.label :CEP, class: "col-sm-2 col-form-label" %>
    <%= form.input_field :CEP, class: 'form-group' %>
  </div>

  <div class="col-sm-6">
    <%= form.label :public_place, class: "col-sm-2 col-form-label" %>
    <%= form.input_field :public_place, class: 'form-group' %>
  </div>

  <div class="col-sm-6">
    <%= form.label :complement, class: "col-sm-2 col-form-label" %>
    <%= form.input_field :complement, class: 'form-group' %>
  </div>

  <div class="col-sm-6">
    <%= form.label :district, class: "col-sm-2 col-form-label" %>
    <%= form.input_field :district, class: 'form-group' %>
  </div>


  <div class="col-sm-6">
    <%= form.label :city, class: "col-sm-2 col-form-label" %>
    <%= form.input_field :city, class: 'form-group' %>
  </div>

  <div class="col-sm-6">
    <%= form.label :UF, class: "col-sm-2 col-form-label" %>
    <%= form.input_field :UF, class: 'form-group' %>
  </div>

  <div class="col-sm-6">
    <%= form.label :IBGE_code, class: "col-sm-2 col-form-label" %>
    <%= form.input_field :IBGE_code, class: 'form-group' %>
  </div>
</div>