<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" <%= link_to 'Novo Endereço', new_address_path %>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to 'Editar', edit_address_path(@address) %>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to 'Voltar', addresses_path %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

  <div class="p-3 text-left bg-gradient">
    <p id="notice"><%= notice %></p>
    <h1 class="mb-3">Endereço</h1>
    <p>
      <strong>Cep:</strong>
      <%= @address.CEP %>
    </p>

    <p>
      <strong>Rua:</strong>
      <%= @address.public_place %>
    </p>

    <p>
      <strong>Complemento:</strong>
      <%= @address.complement %>
    </p>

    <p>
      <strong>Bairro:</strong>
      <%= @address.district %>
    </p>

    <p>
      <strong>Cidade:</strong>
      <%= @address.city %>
    </p>

    <p>
      <strong>Uf:</strong>
      <%= @address.UF %>
    </p >

    <p>
      <strong>Código Ibge:</strong>
      <%= @address.IBGE_code %>
    </p>

    <p>
      <strong>Cidadão:</strong>
      <%= @address.citizen.name %>
    </p>
  </div>
